<section class="app">
  <div class="container">
    <h1>My to-do list</h1>
    <form>
      <label for="descricao">Descreva sua tarefa no campo abaixo ...</label>
      <input #description type="text" name="descricao" id="descricao" (input)="observableField($event)">
      <button type="button" (click)="set(description.value)" [disabled]="field.length > 0 ? false : true">Salvar</button>
    </form>
    <p *ngIf="list && list.length > 0" class="quantidade">Quantidade: <span>{{list.length}}</span></p>
    <ul *ngIf="list && list.length > 0">
      <ng-container *ngFor="let item of list">
        <li>
          <div class="text">
            <input type="checkbox" id="checkbox--{{item.id}}" (click)="checked(item)">
            <label for="checkbox--{{item.id}}" [ngClass]="{'isChecked': item.isChecked}">{{item.description}}</label>
          </div>
          <button type="button" (click)="delete(item.id)">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          </button>
        </li>
      </ng-container>
    </ul>
    <span *ngIf="list && list.length < 1" class="alert">Nenhuma tarefa na lista ...</span>
  </div>
</section>
<!-- <router-outlet></router-outlet> -->

